body{
    background-color: rgb(240, 240, 240);
    padding-left: 50px;
    padding-right: 50px;
}

h1{
    text-align: center;
    background-color: rgb(248, 188, 188);
    color: rgb(255, 0, 0);
    
}

h2 ,h3{
    font-size: 30px;
    color: red;
    background-color:rgb(248, 188, 188);
    padding-left: 10px;
    border-bottom-style: solid;
}

a{
    text-decoration: none;
    
}

a:houver{
    text-decoration: underline;
}

span {
    color: royalblue;

}