*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    position: fixed;
    width: 400px;
    height: 400px;
    background-color: blue;

}
.box{
    width: 200px;
    height: 200px;
    background-color:yellow;
}


